<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/add}"
    th:object="${user}"
    method="post">
        <label for="id">Id</label>
        <input type="number" name="id" id="id" th:value="${id}" readonly>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
        <label for="email">Email</label>
        <input type="email" th:field="*{email}" id="email">
        <label for="age">Age</label>
        <input type="number" th:field="*{age}" id="age">

        <button type="submit">Add User</button>
    </form>
</body>
</html>